body {
	width: 100vw;
	height: 100%;
	background-image: url('../img/kiss.svg');
	background-attachment: fixed;

/*	background-image: url('../img/dip.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: 100vw;
	background-size: 100vw;
	-ms-background-position-y: 20%;
	background-position-y: 20%;
	-webkit-background-size: cover;
	background-size: cover;*/
}

.container {
	max-width: 1240px;
	margin: 0 auto;
	background: #fff;
	/*padding-right: 40px;*/
}

.group:after {
	display: table;
	clear: both;
	content: "";
}

/* COLUMNS */

[_col] {
	float: left;
	margin: 0 10px;
}

[_col~="1/4"] {
	width: calc(25% - 20px);
}

[_col~="1/3"] {
	width: calc(33.333333333% - 20px);
}

[_col~="1/2"] {
	width: calc(50% - 20px);
}

[_col~="2/3"] {
	width: calc(66.6666666666% - 20px);
}

[_col~="3/4"] {
	width: calc(75% - 20px);
}

[_col~="1"] {
	width: calc(100% - 20px);
}

[_col~="right"] {
	float: right;
}

[_col~="center"] {
	float: none;
	margin: 0 auto;
}


/* TYPOGRAPHY */

body {
	font-family: 'Lora', sans-serif;
	font-size: 16px;
	color: #222;
}

h1, h2, h3, h4, h5, h6, nav ul li {
	font-weight: 300;
	font-family: 'Oswald';
}

h1, nav ul li {
	text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
	text-transform: lowercase;
}

h3, h4, h5, h6 {
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a {
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: 100;
	font-size: 9.333em;
  	line-height: 1em;
}

h2 {
	font-size: 4.667em;
}

/*h3 {
	font-size: 3.75em;
}*/

/*h4 {
	font-size: 2.833em;
}*/

h3 {
	font-size: 2.2vh;
	font-weight: 100;
	text-transform: uppercase;
}

h5 + p {
	font-size: 1.167em;
}

h6 {
	font-weight: 500;
	font-size: 1.667em;
}


p {
	font-size: 1.2vh;
	line-height: 1.6vh;
	margin-bottom: 10px;
}

em {
  font-style: normal;
}

blockquote:before {
	content: '“'
}

blockquote {
  font-size: 2em;
}

blockquote:after {
	content: '”'
}

blockquote + em {
  float: right;
  text-transform: uppercase;
  font-size: 1.667;
}

a {
	font-size: 1.167em;
	text-decoration: none;
}

a:link, a:visited {
	color: #BE2233;
}

a:hover, a:target, a:active {
/*	font-weight: 700;
	color: #C85F6C;*/
}

li {
	list-style: none;
}


nav ul li {
	font-size: 2em;
	padding-left: 30px;
}

/* header */

header {
	position: fixed;
	z-index: 1;
	margin: 15px;
	max-width: 210px;
}

/* color */

/*BE2233*/

/* images */

img {
	max-width: 100%;
}

[_img~="logo"] {
	width: calc(100% - 10px);
	margin-bottom: 30px;
}

.hide {
	opacity: 0;
	position: absolute;
}

.cakeBomb, .biscotti {
	position: relative;
	width: calc(25% - 20px);
	margin:  10px;
	float: left;
	transition: background 2s;

}

.cakeBomb {
	height: 22vh;
}

.biscotti {
	height: 15vh;
}

.cakeBomb > h3, .biscotti > h3 {
	padding: 5px 10px;
	position: absolute;
	top: 0;
}

.cakeBomb > img, .biscotti > img {
	position: absolute;
	bottom: 0;
	transition: opacity 1s;
}

.cakeBomb > p, .biscotti > p {
	opacity: 0;
	position: absolute;
	bottom: 0;
	z-index: 2;
	padding: 5px;
}

.cakeBomb:hover p, .biscotti:hover p {
	opacity: 1;
	color: #fff;
}

.cakeBomb:hover, .biscotti:hover {
	background: #BE2233;
}

.cakeBomb:hover h3, .biscotti:hover h3 {
	font-weight: 400;
}

.cakeBomb:hover img, .biscotti:hover img {
	opacity: 0;
}

.biscotti:hover {
}

/* checkboxes */

[name="filter"] > div {
	float: left;
	margin: 0 25px 15px;
}

input {
	margin-right: 5px;
}

input + label:after {
	clear: both;
	display: table;
	content: ' ';
}
